@"
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/db_socialecho
PORT=4000

SECRET=socialecho_jwt_secret_2026
REFRESH_SECRET=socialecho_refresh_secret_2026

CRYPTO_KEY=socialecho_crypto_key_2026

EMAIL=
PASSWORD=
EMAIL_SERVICE=

PERSPECTIVE_API_KEY=disabled
TEXTRAZOR_API_KEY=disabled
INTERFACE_API_KEY=disabled
PERSPECTIVE_API_DISCOVERY_URL=https://commentanalyzer.googleapis.com/`$discovery/rest?version=v1alpha1
TEXTRAZOR_API_URL=https://api.textrazor.com/
INTERFACE_API_URL=https://api-inference.huggingface.co/models/facebook/bart-large-mnli

CLASSIFIER_API_URL=http://127.0.0.1:5000/classify
"@ | Set-Content -Encoding utf8 .env